*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    background-image: url(image/fond.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.myheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
}

.liens{
    display: flex;
    justify-content: space-around;
}

ul li {
    padding: 3px;
    list-style-type: none;
}

h1{
    color: rgb(0, 255, 238);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: size 1em;
    text-align: center;
    margin:0 auto;
    background-color: rgb(255, 127, 174);
}

.go{
    color: coral;
    background-color: azure;
}
#unique {
    font-size: 25px;
    text-align: right;
}
.ninja{
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.tortue{
    background-color: burlywood;
}

.box-green{
    width: 150px;
    height: 150px;
    background-color: green;
    border: 10px solid lightgreen;
}
.box-blue{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 10px solid lightblue;
    
}
.box-purple{
    width: 150px;
    height: 150px;
    background-color: purple;
    border: 10px solid orchid;
}
.box-line{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.box-container{
    background-color: rgba(125, 46, 46, 0.853);
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table{
    border-collapse: collapse;
    margin: auto;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
tr{
    border: 1px solid black;
    padding: 10px;
}

.boite{
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    margin-bottom: 100px;
}
.one{
    grid-column: 1/4;
    grid-row: 1/2;
}
.two{
    grid-column: 1/3;
    grid-row: 2/3;
}
.three{
    grid-column: 3/4;
    grid-row: 2/4;
}
.four{
    grid-column: 1/2;
    grid-row: 3/4;
}
.five{
    grid-column: 2/3;
    grid-row: 3/4;
}
.six{
    grid-column: 3/1;
    grid-row: 4/5;
}
.seven{
    grid-column: 3/4;
    grid-row: 4/5;
}
.eight{
    grid-column: 1/4;
    grid-row: 5/5;
}
.element{
    background-color: #09e862;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.containerGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    margin-bottom: 100px;
}
.nine{
    grid-column: 1/4;
    grid-row: 1/2;
}
.ten{
    grid-column: 1/2;
    grid-row: 2/3;
}
.eleven{
    grid-column: 2/3;
    grid-row: 2/3;
}
.twelve{
    grid-column: 3/4;
    grid-row: 2/3;
}
.thirteen{
    grid-column: 2/4;
    grid-row: 3/3;
}
.fourteen{
    grid-column: 1/3;
    grid-row: 4/4;
}
.fifteen{
    grid-column: 3/4;
    grid-row: 4/4;
}
.sixteen{
    grid-column: 1/4;
    grid-row:5/5;
}