*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    background-image: url(image/nature.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.myheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
}

.liens{
    display: flex;
    justify-content: space-around;
}

ul li {
    padding: 30px;
    list-style-type: none;
}

h1{
    color: rgb(0, 255, 238);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: size 1em;
    text-align: center;
    margin:0 auto;
    background-color: rgb(255, 127, 174);
}

.go{
    color: coral;
    background-color: azure;
}
#unique {
    font-size: 25px;
    text-align: right;
}
.ninja{
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.tortue{
    background-color: burlywood;
}

.banderole{
    display: flex;
    justify-content: center;
}
.totem{
    display: flex;
    justify-content: center;
}

.bleu{
    display: flex;
    flex-direction: row-reverse;
}
.rouge{
    display: flex;
    justify-content: space-around;
}
.rose{
    display: flex;
    justify-content: space-around;
}
.jour{
   border: 1px solid black;
   background-color: aqua;
   width: 150px;
   height: 150px;
   justify-content: space-around;
}

.bonjour{
    border: 1px solid black;
    background-color: aqua;
    width: 150px;
    height: 150px;
    justify-content: flex-start;
}

.buenos{
    border: 1px solid black;
    background-color: rgb(255, 0, 187);
    width: 150px;
    height: 150px;
    justify-content: space-around;
}

.guten{
    border: 1px solid greenyellow;background-color: rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    justify-content: space-around;
}

.good{
    border: 1px solid greenyellow;background-color: rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    justify-content: space-around;
}
